# Dati (troppo pesanti per git, si riscaricano/rigenerano)
data/
*.csv

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Spark
metastore_db/
derby.log
spark-warehouse/

# Hadoop
logs/

# OS
.DS_Store
